.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid black;
    width: 350px;
}

.appointment {
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.remove {
    height: 50px;
    width: 50px;
    color: red;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove:hover {
    border: 1px solid red;
    border-radius: 50%;
}